accelerate==1.7.0
bitsandbytes==0.45.5
datasets==3.6.0
fastchat==0.1.0
flash_attn==2.7.4.post1
huggingface_hub==0.32.0
modelscope==1.26.0
numpy==2.2.6
openai==1.82.0
packaging==25.0
pandas==2.2.3
peft==0.15.2
psutil==7.0.0
pytest==8.3.5
Requests==2.32.3
torch==2.7.0
tqdm==4.67.1
transformers==4.51.3
triton==3.3.0
trl==0.15.2
unsloth_zoo==2025.5.8
vllm==0.8.5.post1
xformers==0.0.30
